
.panel-default {
    border-color: #222d32;
}

.panel {
    margin-bottom: 20px;
    background-color: #222d32;
    border: 1px solid transparent;
    border-radius: 0px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.kv-sidenav .active > ul {
    background-color: #222d32;
}

.content-wrapper, .right-side {
    min-height: 100%;
    background-color: #ecf0f5;
    z-index: 800;
}